<section id="header">
  <header>
    <span class="image avatar"><img src="assets/images/avatar.jpg" alt="" /></span>
    <h1 id="logo"><a href="http://daeyeol.me">Daeyeol Ryu</a></h1>
    <p>CEO @ NangmanIn<br /> and Full-stack oriented developer</p>
  </header>
  <nav id="nav">
    <ul>
      <li><a href="#one" class="active">About Me</a></li>
      <li><a href="#two">Things I Can Do</a></li>
      <li><a href="#three">My Projects</a></li>
      <li><a href="#four">Accomplishments</a></li>
      <li><a href="#five">Interested In</a></li>
    </ul>
  </nav>
  <footer>
    <ul class="icons">
      <li><a href="https://www.linkedin.com/in/yoobato" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
      <li><a href="https://www.instagram.com/yoobato" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="https://github.com/yoobato" class="icon fa-github"><span class="label">Github</span></a></li>
      <li><a href="mailto:dy@yoobato.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
    </ul>
  </footer>
</section>