<head itemscope itemtype="http://schema.org/WebSite">
  
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="ROBOTS" content="ALL"/>
  <meta name="description" content="Daeyeol's personal web page."/>
  <meta name="keywords" content="yoobato,유대열,Daeyeol"/>

  <!--[if lte IE 8]><script src="{{ "/assets/js/ie/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" />
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/assets/css/ie8.css" | prepend: site.baseurl }}" /><![endif]-->

  <title>I'm Daeyeol</title>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ "/assets/favicon/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ "/assets/favicon/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16" />
</head>