<section id="header">
  <header>
    <span class="image avatar"><img src="assets/images/avatar.jpg" alt="Daeyeol Ryu" /></span>
    <h1 id="logo">Daeyeol Ryu</h1>
    <p>CEO @ <a href="http://nangman.in" target="_blank">NangmanIn</a><br /> and Full-stack oriented developer</p>
  </header>
  <nav id="nav">
    <ul>
      <li><a href="#aboutMe" class="active">About Me</a></li>
      <li><a href="#whatIDo">What I Do</a></li>
      <li><a href="#myProjects">My Projects</a></li>
      <li><a href="#accomplishments">Accomplishments</a></li>
    </ul>
  </nav>
  <footer>
    <ul class="icons">
      <li><a href="https://www.linkedin.com/in/yoobato" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
      <li><a href="https://www.instagram.com/yoobato" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
      <li><a href="https://github.com/yoobato" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
      <li><a href="mailto:dy@yoobato.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
    </ul>
  </footer>
</section>